:root {
    --colorTextos: #49454567;
}

.container .grupo{
    position: relative;
    margin: 45px ;
}
.box2{
    background-color: transparent;
}
.box2 img{
    align-items: center;
    display: block;
    margin: auto;
    width: 75px;
    height: 75px;

}
.box2 h1{
    font-family: 'Strong';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 51px;

    color: #FFFFFF;
}
.box2 label{
    font-family: 'Ruda';
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;

    position: absolute;
    transition: 0.5s ease all;
    pointer-events: none;
}
.box2 input{
    background: none;
    border-color: #A9B6E3;
    font-family: Ruda;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 10px 10px 5px;
    height: 30px;
    display: block;
    outline: none;
    width: 100%;
    border-style: none none solid none;
}
.box2 button{
    background: #A9B6E3;
    font-size: 15px;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    margin: 10px auto;
    display: block;
    outline: none;
    border-color: transparent;
}
.fondo{
    background-position: center;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
    position: absolute;

    left: 25%;
    top: 100px;
}
.img-fluid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
}

.label-error {
    color: red;
}
.label-success {
    color: green;
}

.barra{
    background: none;
    color: #8c36ee;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

.barra:focus{
    outline: none;
    color: #5e5d5d;
}

.fondo-container {
    width: 100%;
    height: 100vh;
    background-image: url("https://res.cloudinary.com/drmqmmxnh/image/upload/v1647998873/Picsart_22-03-22_19-23-53-592_ah4iph.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.p {
    text-align: center;
}
