:root {
    --colorTextos: #49454567;
}

.container .grupo{
    position: relative;
    margin: 45px ;
}
.formulario{
    background-image: url("img/fondo.jpg");

    padding: 40px;
    background-position: center;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.titulo{
    font-family: 'Strong';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 51px;

    color: #FFFFFF;
}
.label-error {
    color: red;
}
.label-success {
    color: green;
}

.barra{
    background: none;
    color: #8c36ee;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

.barra:focus{
    outline: none;
    color: #5e5d5d;
}
